.container{
    display: flex;
}
.card-section{
    display:flex;
    margin-top: 20px;
   flex-wrap: wrap;
   padding:10px; 
    width:75%;
    border: 10px solid white;
    border-radius: 20px;
    gap:10px;
}
.side-top{
    /* display: flex; */
    margin-top: 20px;
   margin-bottom: 20px;
    width:28%;
   
}
#a{
    margin-left: 23px;
    display: flex;
    color:rgb(48, 125, 155);
    padding-right:0px;
    font-size: large;
    font-weight:bold;
    gap:30px;

}

.card{
   
    width:270px;
    border:5px solid rgb(139, 155, 139);
    padding:0px;
    
}
.thead{
    display: flex;
    gap:25px;
    margin-left: 45px;
}

.card img{
    height: 200px;;
}
th{
    font-weight: bolder;
    margin-left: 45px;
}
.side-down{
    margin-top:300px;
}
